[project]
name = "nn-pruning"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.4",
    "torch>=2.9.0",
    "tqdm>=4.67.1",
]
